body  { 
    background-color: rgb(255, 182, 229);
}

img {
    display: block;
    margin: 20px auto;
    width: 100%;
}

#container {
    background-color: rgb(255, 254, 248);
    width: 650px;
    margin:20px auto;
    border: 2px soild black;
    padding: 20px;
    border-radius: 20px;
    text-align: center;

}

header {
    text-align: center;
    padding: 50px;
}

header h1 {
    color: rgb(159, 47, 109);
    font-size: 60px;
    margin: 0%;
    
}
    
nav {
    text-align: center;
    border-top: 4px soild black;
    border-bottom: 4px soild black;
    padding: 2px;
}

nav a {
    text-align: center;
    color: rgb(92, 16, 41);
    font-size: 20px;
    margin: 0 20px;

}

nav a:hover {
    text-align: center;
    color: deeppink;
    text-decoration: none;
}

main h2{

display: block;
margin: 20px auto;
width: 200px;

}

main h3{

display: block;
margin: 20px auto;
width: 100px;

}

footer {
padding: 40px 0;
text-align: center;
border-top: 4px solid ;
}